header {
    padding: 10px;
}

a {
    float: left;
}

#timer {
    text-align: right;
}

/* clear float after being used in header element */
main {
    clear: both;
    margin-top: 100px;
}

.hide {
    display: none;
}

#start-quiz {
    text-align: center;
}

button {
    margin: 5px;
}
